/* Resetando estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
    background-color: #E5F9F9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(58, 58, 58);
    box-shadow: 0 4px 2px -2px gray;
    align-items: center;
}

.header .logo img {
    max-width: 200px;
}

.header .autenticacao a {
    margin-left: 15px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    background-color: rgb(123, 224, 255);
    padding: 10px 0;
    box-shadow: 0 4px 2px -2px gray;
}

.navbar a {
    margin: 0 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

/* Conteúdo principal */
.conteudo_principal {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    flex: 1;
}

/* Sidebar */
.sidebar {
    width: 20%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 2px -2px gray;
}

.sidebar h3 {
    color: #333;
}

.produtos {
    width: 75%;
}

.pesquisa {
    margin-bottom: 20px;
}

.pesquisa input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.grade_produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
}

.caixa_produto {
    width: 200px;
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.caixa_produto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.caixa_produto h4 {
    margin: 10px 0;
    color: #333;
}

.caixa_produto p {
    color: #777;
    font-size: 16px;
}

.caixa_produto .promocao {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
}

.caixa_produto button {
    background-color: #8A4FFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.caixa_produto button:hover {
    background-color: #6F32C1;
}

/* Página de login */
.container_login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
    padding-top: 50px;
}

.caixa_login{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.botao_login {
    text-align: center;
}

.botao_login input[type="submit"]{
    background-color: rgb(123, 224, 255);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.botao_login input[type="submit"]:hover {
    background-color: rgb(0, 195, 255);
}

/* Página de cadastro */
.container_cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
    padding-top: 50px;
}

.caixa_cadastro {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.cadastro h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-group{
    margin-bottom: 15px;
}

.form-group label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.botaocadastro {
    text-align: center;
}

.botaocadastro input[type="submit"]{
    background-color: rgb(123, 224, 255);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.botaocadastro input[type="submit"]:hover {
    background-color: rgb(0, 195, 255);
}

/* Contato */

.container_contato {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
    padding-top: 50px;
}

.caixa_contato {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.faleconosco h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-group{
    margin-bottom: 15px;
}

.form-group label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.botaocontato {
    text-align: center;
}

.botaocontato input[type="submit"]{
    background-color: rgb(123, 224, 255);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.botaocontato input[type="submit"]:hover {
    background-color: rgb(0, 195, 255);
}

/* Rodapé */
footer {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 -4px 2px -2px gray;
}

footer p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

footer a {
    color: #8A4FFF;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}
